/* Asumo orientacion portrait y luego piso con landscape los estilos que sean necesarios */

.img_demo{
    height: 40%;
	background-image:  url("../images/eco/institucional-botella.jpg") ;
    background-repeat: no-repeat;
    background-color: #90b7c8;
   /* background-position:  top left;
	background-size: cover;*/
	background-position: top center;
	background-size: cover;
	-moz-box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 10px 10px  rgba(0,0,0,0.2);
	box-shadow: 0px 10px 10px  rgba(0,0,0,0.2);
}


/* Generales */
html.ui-mobile{
	min-height:1px;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #1a75ba;
	font-size: 100%;
}

.gradiente-gris{
	background: #fff;
	background: -moz-linear-gradient(top,  #c7c8c8 0%, #ffffff 76%, #ffffff 84%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c8c8), color-stop(76%,#ffffff), color-stop(84%,#ffffff), color-stop(100%,#d5d5d5));
	background: -webkit-linear-gradient(top,  #c7c8c8 0%,#ffffff 76%,#ffffff 84%,#d5d5d5 100%);
	background: -o-linear-gradient(top,  #c7c8c8 0%,#ffffff 76%,#ffffff 84%,#d5d5d5 100%);
	background: -ms-linear-gradient(top,  #c7c8c8 0%,#ffffff 76%,#ffffff 84%,#d5d5d5 100%);
	background: linear-gradient(to bottom,  #c7c8c8 0%,#ffffff 76%,#ffffff 84%,#d5d5d5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c8c8', endColorstr='#d5d5d5',GradientType=0 );
}

.ui-content
{
   padding: 15px 0px;
   background: #1a75ba;
   z-index: 1;
}

.ui-body-c, .ui-overlay-c{
   background: #1a75ba;
   text-shadow:none;
}

/* Dialog */

.ui-dialog-contain > .ui-header {
    line-height: 38px;
    text-align: center;
}

.ui-dialog-contain > .ui-content {
    padding: 0px;
    background: #000;
}

#institucional .ui-content, .vitalitud .ui-content{
   padding: 15px 0px;
   background: #FFF;
}
.vitalitud .ui-content{
	padding:0px;
}

#institucional.ui-body-c, .vitalitud .ui-body-c{
   background: #FFF;
}

#institucional .ui-content{
   padding: 0px 15px 0px 0px;
}

#tips .ui-content, #tips .ui-body-c{
	padding:0px;
	background:none;
}

h2{
	color:#0053ab;
}

p {
	color:#a8a8a8;
	line-height: 1.5em;
}

.ui-br{
	border:0;
}
a:visited{
	border:none;
}

/* Botones mas grandes */
#encabezado-wrapper .ui-btn{
	width: 32px;
	height: 32px;
}

#encabezado-wrapper  .ui-btn-icon-notext{
	top: 4px;
}

#encabezado-wrapper  .ui-btn-icon-notext .ui-btn-inner .ui-icon {
    margin: 3px 1px 2px 4px;
    background-image: url("../images/eco/flecha-atras.png");
	background-position: center center;
	background-size: contain;
	width: 24px;
	height: 24px
}

/* Titulo en el header alineado a la izquierda; */
#encabezado-wrapper .ui-header .ui-title{
	margin: 0.3em 50px 0.3em;
	text-align:left;
	font-size: 24px;
	font-weight: normal;
}

.ui-btn-inner{
	border: none;
	border-top-color: none;
}

.ui-header{
	-moz-box-shadow: 0px 4px 8px  rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 4px 8px  rgba(0,0,0,0.4);
	box-shadow: 0px 4px 8px  rgba(0,0,0,0.4);
}

#encabezado
{
    position:relative;
    height: 150px;
    background-image: url("../images/eco/header-logo.png"), url("../images/eco/tile-fondo.jpg") ;
    background-repeat: no-repeat, repeat-x;
    background-color: #1a75ba;
    background-position: center center, top left;
    background-size: auto 100%, auto 100% ;
    border:none;
    width:100%;
	z-index:10;
}    



.bullets{
	display: block;
	width: 100%;
	height: 1em;
	position:absolute;
	bottom:0;
	text-align: center;
    color: #8ec2fe;
    font-size: 3em;
}

.bullets em.on {
    color: #1b78be;
}
.bullets em {
    margin: 0px;
    display: inline-block;
    font-family: sans-serif;
    font-style: normal;
	line-height: 1em;
    padding: 0;
}




/* VITALITUD */
#vitalitud .contenido-wrapper {
	padding: 0px 4%;
}
#vitalitud  .contenido-wrapper .ui-btn{
	margin: 2em 0;
}

.preguntas .ui-content .ui-btn{
	margin: 0.5em 0;
}

.vitalitud h2 {
    font-size: 2em;
    margin: 1.5em 0;
}

#vitalitud .contenido-wrapper  p, #vitalitud-resultado p{
	margin-bottom: 3em;
}

#vitalitud.portada .img_vitalidad {
	background-image:url("../images/eco/vitalitud/h/img-principal.jpg");
	background-position: center center;
}

.vitalitud.preguntas .imagen, #vitalitud-resultado .imagen{
	height: 100%;
	width:100%;
	border-right: 4px solid #FFF;
	position: relative;
	overflow: hidden;
}

#vitalitud-1 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-1.jpg");
	background-position: center top;
}
#vitalitud-2 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-2.jpg");
	background-position: left bottom;
}
#vitalitud-3 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-3.jpg");
	background-position: center bottom;
}
	
#vitalitud-4 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-4.jpg");
	background-position: right bottom;
}
#vitalitud-5 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-5.jpg");
	background-position: left bottom;
}
#vitalitud-6 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-6.jpg");
	background-position: bottom center;
}
#vitalitud-7 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-7.jpg");
}
#vitalitud-8 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-8.jpg");
	background-position: right top;
}
#vitalitud-9 .imagen{
	background-image:url("../images/eco/vitalitud/h/img-9.jpg");
	background-position: right center;
}



.vitalitud.preguntas .imagen span{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	background: #FFF;
	color:#0053AB;
	text-align:center;
	display:block;
	font-weight: bold;
	line-height: 30px;
	border-radius: 15px;
}

.vitalitud.preguntas .ui-content, #vitalitud-resultado .ui-content{
	padding: 0px;
}

.vitalitud.preguntas .ui-content .ui-block-b {
	padding: 0px 30px;
}

#vitalitud-resultado .medidor{
	margin: 2.5%;
	width: 95%;
	height: 95%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#vitalitud-resultado h2 {
    font-size: 3em;
    margin: 1em 0;
    line-height: 1.5em;
    text-align: center;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

#vitalitud-resultado p {
    text-align: center;
	padding: 0 2em;
	color: #1A75BA;
	font-size: 1.2em;
}
#vitalitud-resultado .cartel-vitalitud {
	background:#1A75BA;
	color: #FFF;
	line-height: 2em;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	margin-top: 1.5em;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}


@media all and (orientation:portrait) {

	 .vitalitud .grilla > div {
		width: 100%;
	}

	#vitalitud-resultado p {
		font-size: 1.5em;
	}

	#vitalitud-resultado h2 {
		font-size: 5em;
		margin: 0.5em 0 0.5em 0;
		line-height: 1.5em;
		text-align: center;
		-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
	}

	#vitalitud-resultado .cartel-vitalitud {
		background:#1A75BA;
		color: #FFF;
		line-height: 2em;
		font-size: 1.6em;
		font-weight: bold;
		text-align: center;
		margin-top: 1.3em;
		-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	}	
	

	.vitalitud .ui-content{
		min-height: 300px;
	}
	

	#vitalitud-1 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-1.jpg");
	}
	#vitalitud-2 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-2.jpg");
	}
	#vitalitud-3 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-3.jpg");
	}
	#vitalitud-4 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-4.jpg");
	}
	#vitalitud-5 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-5.jpg");
	}
	#vitalitud-6 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-6.jpg");
	}
	#vitalitud-7 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-7.jpg");
	}
	#vitalitud-8 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-8.jpg");
	}
	#vitalitud-9 .imagen{
		background-image:url("../images/eco/vitalitud/v/img-9.jpg");
	}
	#vitalitud.portada .img_vitalidad {
		background-image:url("../images/eco/vitalitud/v/img-principal.jpg");
	}
	.vitalitud.preguntas .ui-content .ui-block-b {
		padding: 0px 0.5em;
	}

	#vitalitud-resultado h2 {
	}


	#vitalitud-resultado .imagen {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

@media all and (orientation:portrait) and (max-width: 500px) {
	body {
		font-size: 75%;
	}
	
	#inicio #encabezado {
		height: 100px;
	}    

	#inicio .ui-content{
		margin-top:103px;
	}

	#menu-principal div a span{
		bottom: 3%;
		left: 6%;
		font-size: 1em;
	}

	#producto h2{
		margin-top: 0.3em;
                padding: 0.2em 10px;
                font-size: 1em;
	}
        
        #producto span.one{
                padding: 0 10px;
	}
        
        #producto .placa-azul{
            padding: 0.9em 10px;
        }
        
	#producto{
		font-size: 70%;
	}

	#producto  .ui-grid-a  > .ui-block-a {
		width:45%;
	}

	#producto  .ui-grid-a > .ui-block-b {
		width: 55%;
	}

	#producto .ui-content{
		min-height: 400px;
	}

	#producto .contenido-wrapper{
		padding: 0px 4%;
	}
	
	#tips {
		font-size:60%;
	}

	#tips .tip{
		margin:1em 2.5em;
		padding:2em 2em;
	}
	
	#tips .icono-tip{
		right: -1.5em;
		width: 4em;
		height: 4em;
		line-height: 4em;
		border-radius: 2em;
	}
	
	.tip p {
		line-height: 1.2em;
	}	
	
	#tips #footer-tips{
		left:0;
		right: 0;
	}
	
	.vitalitud h2 {
		margin: 0.8em 0;
	}
	
	.vitalitud .ui-field-contain{
		padding:0;
	}
	
	.vitalitud .imagen, .img_botella{
		min-height: 150px;
	}
	
	#vitalitud-resultado h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	#vitalitud-resultado p {
		padding: 0 0.5em;
		margin-bottom:1em; 
	}
	#vitalitud-resultado .cartel-vitalitud {
		line-height: 1.5em;
		font-size: 1em;
		margin-top: 1.1em;
	}
	
	#vitalitud .contenido-wrapper .ui-btn {
		margin: 1em 0;
	}

        
	#institucional .grilla > div.ui-block-b {
		padding: 0 5% 30px;
	}

	.vitalitud.preguntas .imagen{
		min-height: 80px;
		
	}
        
        #vitalitud-resultado .imagen{
		min-height: 80px;
		
	}

	
}

@media all and (orientation:landscape) {
    /* Pagina de INICIO */
	
	#encabezado
	{
		height: 100px;
	}   	
	
 	.vitalitud .ui-content{
		/*min-height: 450px;*/
		overflow: hidden;
	}
}

@media all and (orientation:landscape) and (min-device-width: 940px) {
	body {
		text-align:center;
	}
	.ui-page{
		margin: 0px auto;
		text-align:left;
		position:relative!important;
	}
}

@media all and (orientation:landscape) and (max-height:500px){
	body {
		font-size: 75%;
	}

	#encabezado{
		height: 42px;
	}
	
	#inicio #encabezado{
		height: 42px;
		border-bottom: 1px solid #1a75ba;
	}    

	#inicio .ui-content{
		margin-top:43px;
	}
	
	#menu-principal div a span{
		position: absolute;
		bottom: 2%;
		left: 5%;
		font-size: 1em;
		font-weight: bold;
	}

	
	#vitalitud-resultado .ui-content .ui-block-b {
                width: 60%;
        }
	#vitalitud-resultado .ui-content .ui-block-a, .vitalitud.preguntas .ui-content .ui-block-a{
		width: 40%;
	}
        
	#vitalitud-resultado h2 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0.5em 0;
	}

	#vitalitud-resultado p {
		padding: 0 0.5em;
		margin-bottom:1em; 
	}
	#vitalitud-resultado .cartel-vitalitud {
		line-height: 1.5em;
		font-size: 1em;
		margin-top: 1.1em;
	}
	
	#vitalitud .contenido-wrapper .ui-btn {
		margin: 1em 0;
	}


}






